*{
 box-sizing: border-box;  
padding: 0;
margin: 0;  
}
#bckgnd {
/*    box-sizing: border-box; */
    width: 100vw
    min-height: 100vh;
    background-repeat: norepeat;
    background: url(../img/batmanBck.png);
    z-index: -1;
}
.title {
margin: 0.5rem 40%;
font-family: Calibri, sans-serif;   
position: relative;    
}
h1{
margin-left: 50%;
}
.batman{
    position: fixed ;
    top:55%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    min-width: 700px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/batmanOFF.jpg); 
 
}

.batman_activo {
    background-image: url(../img/batmanON.gif);
}

.bati_boton {
    margin: 290px auto 0;
    width: 30px;
    height: 50px;
    cursor: pointer;
    /* border: 1px solid red; */
}
